*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #111111;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 900;
    line-height: 1.2;
}

img {
    display: block;
}

.img-fluid {
    max-width: 100%;
}

a {
    color: var(--color-3);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--color-2);
    text-decoration: underline;
}

.text-white {
    color: #fff;
}

.text-muted {
    color: #6c757d;
}

.text-gray {
    color: #aaa;
}

.text-dark {
    color: #111111;
}

.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.text-center {
    text-align: center !important;
}

.btn {
    color: #212529;
    background-color: transparent;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
}

.btn-dark {
    color: #fff;
    background-color: var(--color-2);
    border-color: #343a40;
}

.btn-dark:hover {
    color: #dcb14a;
    background-color: var(--color-4);
    border-color: #1d2124;
}

.btn-dark:focus,
.btn-dark.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-link {
    font-weight: 400;
    color: #999;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 0.5rem;
}

.btn-info {
    color: var(--color-3);
    background-color: var(--color-1);
    border-color: var(--color-5);
    border-radius: 0.5rem;
}

.btn-info:hover {
    color:  var(--color-2);
    background-color: var(--color-1);
    border-color: var(--color-5);
    border-radius: 0.5rem;
}

.btn-info:focus,
.btn-info.focus {
    color:  var(--color-4);
    background-color: var(--color-1);
    border-color: var(--color-5);
    border-radius: 0.5rem;
}


/* list style */

.list-unstyled {
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}


/* background */

.bg-dark {
    background-color: #343a40 !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: #1d2124 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #dae0e5 !important;
}


/* border */

.border {
    border: 1px solid #dee2e6 !important;
}

.border-top {
    border-top: 1px solid #1d1d1d !important;
}

.border-right {
    border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
    border-left: 1px solid #dee2e6 !important;
}

.border-0 {
    border: 0 !important;
}

.border-top-0 {
    border-top: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.border-primary {
    border-color: #007bff !important;
}

.border-secondary {
    border-color: #6c757d !important;
}

.border-success {
    border-color: #28a745 !important;
}

.border-info {
    border-color: #17a2b8 !important;
}

.border-warning {
    border-color: #ffc107 !important;
}

.border-danger {
    border-color: #dc3545 !important;
}

.border-light {
    border-color: #f8f9fa !important;
}

.border-dark {
    border-color: #343a40 !important;
}

.border-white {
    border-color: #fff !important;
}

.hero {
    min-height: 25em;
    background-color: transparent;
    background: transparent;
    overflow: hidden;
    background-size: cover;
}

.hero p {
    padding-top: 6em;
    padding-bottom: 2em;
}

.hero h1 {
    padding-bottom: 3em;
}

.overlay-trend {
    color: #fff;
    text-align: center;
    padding: 6em 0;
    background-color: #eee;
    background-size: cover;
    background-attachment: fixed;
}

.reset-anchor {
    color: inherit;
}

.reset-anchor:hover,
.reset-anchor:focus {
    text-decoration: none;
}

/* float */

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}

.cf {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.border {
    border: 1px solid #dee2e6 !important;
}

@media (min-width: 576px) {
    .border-sm {
        border: 1px solid #dee2e6 !important;
    }
}

@media (min-width: 768px) {
    .border-md {
        border: 1px solid #dee2e6 !important;
    }
}

@media (min-width: 992px) {
    .border-lg {
        border: 1px solid #dee2e6 !important;
    }
}

@media (min-width: 1200px) {
    .border-xl {
        border: 1px solid #dee2e6 !important;
    }
}

/* footer */
.reset-anchor {
    color: inherit;
}

.reset-anchor:hover,
.reset-anchor:focus {
    text-decoration: none;
}


/* footer lonk*/

.footer-link {
    font-size: 0.85rem;
    color: #fff;
}

.footer-link:hover,
.footer-link:focus {
    padding-left: 0.2rem;
    color: #fff;
    text-decoration: none;

}

.footer-socials a i{
    display: inline-block;
    text-align: center;
    line-height: 2em;
    color: #fff;
    width: 2em;
    height: 2em;
    margin-left: 5px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.font-size--small {
    font-size: var(--font-size--small);
}

.font-size--default {
    font-size: var(--font-size--default);
}

.font-size--large {
    font-size: var(--font-size--large);
}
/* margin padding */

.m-0 {
    margin: 0 !important;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.p-0 {
    padding: 0 !important;
}

.pr-0,
.px-0 {
    padding-right: 0 !important;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.py-2 {
    padding-top: 0.5rem !important;
}

.px-3 {
    padding-right: 1rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

@media (min-width: 768px) {
    .mb-md-0,
    .my-md-0 {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 992px) {
    .px-lg-5 {
        padding-right: 3rem !important;
    }
}

/* order */

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}


/* align */

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-baseline {
    align-items: baseline !important;
}

.align-items-stretch {
    align-items: stretch !important;
}

.align-content-start {
    align-content: flex-start !important;
}

.align-content-end {
    align-content: flex-end !important;
}

.align-content-center {
    align-content: center !important;
}

.align-content-between {
    align-content: space-between !important;
}

.align-content-around {
    align-content: space-around !important;
}

.align-content-stretch {
    align-content: stretch !important;
}

.align-self-auto {
    align-self: auto !important;
}

.align-self-start {
    align-self: flex-start !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-baseline {
    align-self: baseline !important;
}

.align-self-stretch {
    align-self: stretch !important;
}
--font-size--small: calc((14/16) * 1rem); /* 14px */
--font-size--default: calc((16/16) * 1rem); /* 16px */
--font-size--large: calc((24/16) * 1rem); /* 24px */

/* Typography | Global */
/* body font size */
--text-base-size: 1em;

/* type scale */
--text-scale-ratio: 1.2;
--text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
--text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
--text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
}
