/*main style*/

html {
    font-size: 16px;
}
body {
    color: rgb(15, 190, 202);
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
}
.clear_fix::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}
.navbar {
    margin: 0 auto;
    text-align: center;
    display: table;
    width: 100%;
    height: 102px;
    word-spacing: 50px;
    font-family: 'Alata', sans-serif;
    background-image: url("https://github.com/gidiyan/gidiyan.github.io/blob/master/images/kindpng_625081.webp");
}
.navbar a {
    text-decoration: none;
    color: black;
    padding-right: 1.5em;
    font-size: 1.5rem;
    width: 33%;
    alignment: center;
}
.navbar b {
    text-decoration: none;
    color: #333;
    padding-right: 1.5em;
    font-size: 1.5rem;
    width: 33%;
    alignment: center;
    font-family: 'Alata', sans-serif;
}
.navbar a:hover {
    text-decoration: underline;
    color: darkblue;
}

.titles {
    font-size: 30px;
    text-align: center;
    color: black;
    font-family: 'Alata', sans-serif;
}
.categories {
    height: auto;
 }
.col1 {
    float: left;
    text-align: center;
    position: relative;
    width: 33%;
}
.col1 h3 span{
    background-color: white;
}
.transform{
    transition: all 1s ease-out;
    outline: 2px solid #000; ;
    border: 3px solid #fff;
    border-radius: 10px;
}
.transform:hover{
    transform: scale(1.2);

}
.row{
    width: 100%;
}
.product{
    width: 100%;
}
.col {
    float: left;
    width: 25%;
    text-align: center;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.products .button {
   position: relative;
    top: 150%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: lightskyblue;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    border: transparent;
}

.products .button:hover {
    background-color: rgba(211,211,211,0.5);
}
h3 {
    font-size: large;
    color: black;
    margin-top: 1px;
    text-align: center;
    font-family: 'Alata', sans-serif;
}
h1 {
    font-size: 3em;
    text-align: center;
    color: #333333;
}
h2 {
    text-align: center;
    color: black;
    font-family: 'Alata', sans-serif;
}
p {
}
ul {
    list-style: none;
}
li{
   display: inline;
}






