/*main style*/

.container {
    width: 100%;
    height: 100%;
    padding-right: +15px;
    padding-left: +15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Alata', sans-serif;
    background: var(--color-1);
}


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.75rem;
}
.titles {
    font-size: 12px;
    text-align: left;
    color: var(--color-5);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: -15px;
    padding-left: -50px;
}

ul {
    list-style: none;
}
li{
    display: inline;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
}

.products{
    width: 100%;
    align-items: center;
    padding-left: -15px;
    padding-right: -15px;
    margin: 0 auto;
    margin-bottom: 1.5rem !important;
}
.product img{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.pic-center{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.pic-parent{
    position: relative;
}

.prod_lines{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.img-fluid {
    max-width: 100%;
    /* height: auto; */
}
.transform{
    transition: all 1s ease-out;
    outline: 2px solid #000; ;
    border: 3px solid #fff;
    border-radius: 10px;
}
.transform:hover{
    transform: scale(1.05);
}

.fr{
    display: flex;
    justify-content: space-evenly;

}
.foot{
    font-size: 16px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg ,var(--color-1) 10%, var(--color-3)100%);
    background-color: var(--color-1);

}
.fr li{
    font-size: 16px;
    display: inline-flex;
    padding: 0.25rem 0;
    margin: 0 0.5rem;
}
.cat-overflow{
    position: relative;
    display: block;
}
.prod-overflow{
    position: relative;
    display: block;
}
.prod-text{
    display: block;
    position: absolute;
    text-transform: uppercase;
    bottom: 50px;
}
.prod-desc{
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--color-1);
    color: var(--color-5);
    text-transform: uppercase;
    position: absolute;
    top: 0%;
    left: 20%;
}
.prod-bottom{
    display: block;
    position: absolute;
    text-transform: uppercase;
    bottom: -30px;
    left: -15px;
    margin-left: auto;
    margin-right: auto;
}
.nav-hamburg{
    color: var(--color-3);
    background-color: transparent;
    order:0!important;
border: none;
    font-size: 2rem;
}